extends layout

block content
    .view#orders
        #top
            h3.header 30/08/2018 | LUNCH ORDERS
            .dropdown
                a.btn.select Filter
                .dropdown-content
                    a.drop#vendor vendor
                    a.drop#paid paid
                    a.drop#pending paid
        table
            tr
                th Name
                th Item
                th Vendor
                th Amount
                th Status
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
                td Paid
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
                td Paid
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
                td Paid
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
                td Paid
        #actions
            a.btn.action#print PRINT
            a.btn.action#send SEND
    .view.hidden#vendors
        #top
            h3.header VENDORS
        table
            tr
                th Name
                th Item Count
                th Paybill
                th TillNo
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
        #actions
            a.btn.action.mute#deleteVendor DELETE
            a.btn.action#createVendor CREATE
    .view.hidden#items
        #top
            h3.header MENU ITEMS
            .dropdown
                a.btn.select Filter
                .dropdown-content
                    a.drop#vendor vendor
                    a.drop#category category
        table
            tr
                th Item
                th Vendor
                th Category
                th Price
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
            tr
                td Lorem
                td Ipsum
                td Doloret
                td 100
        #actions
            a.btn.action.mute#deleteItem DELETE
            a.btn.action#createItem CREATE
