doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/css/main.css')
        script(src='https://unpkg.com/react@15/dist/react.min.js')
        script(src='https://unpkg.com/react-dom@15/dist/react-dom.min.js')
        script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')

    body#root
        script(src='js/main.js' type='text/babel')
