.nav{
    width: 150px;
}

.btn {
    padding: 0.8em;
    margin: 1em;
    color: black;
    border: $border-grey;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    background-color: whitesmoke;
}

.btn.nav {
    width: 150px !important;
    border-radius: 5px;
}

.btn.select {
    padding: 0.5em 1em 0.5em 1em;
}

.btn.action {
    width: 100px !important;
}
