.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    .filter-group {
        margin: 0.5em;

        * {
            margin: 0;
        }

        select {
            border: $border-grey;
        }
    }
}