@import 'buttons';

.navigation {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: auto;
    width:1024px;
    border: $border-grey;

    #banner{
        padding: 1em;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-gap: auto;

        * {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .navs {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #banner {
        width: 100vw;
        height: 40%;
    }
}
