
table {
    width: 100%;
    border: $border-black;
    border-collapse: collapse;

    tr {
        height: 1.8em;
        *{
            margin: 0 !important;
            padding: 0 !important;
        }

        th {
            text-transform: uppercase;
            border: $border-black;
        }

        td {
            text-align: center;
            border-left: $border-black;
            border-right: $border-black;
        }
    }

    tr:nth-child(1) {
        height: 2.5em;
    }

    tr:nth-child(even) {
        background-color: $light-grey;
    }
}
